<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
      </h1>
    
    </td>
    <td class="sidebar round">
      
      
    </td>
  </tr>
</table>