<html>
  <body>
    <h1><b><u>Was wird Touri 2.0 ?</u></b></h1>
    <p>
     <h3> Touri 2.0 ist ein studentisches Softwareprojekt dreier Wirtschaftsinformatik-Studenten im 5. Semester der HWR Berlin.
     Diese Software soll vorwiegen auf Mobilenenger&auml;ten genutzt werden, aber es wird auf auf PC funktionieren.<p>
     Ziel ist es eine Touristenf&uuml;hrer bzw. Informationen von nahe liegenden Sehensw&uuml;rdigkeiten vom aktuellen Standort zur Verf&uuml;gung zu stellen.<br>
     </h3>
     <p><p>
      <h1><b><u>Warum Touri 2.0 ?</u></b></h1>
    <p>
    <h3> Mit Touri 2.0 k&ouml;nnen sie eigene Routen f&uuml;r Sehensw&uuml;rdigkeiten erstellen und diese werden dann andere Intressent zur Verf&uuml;gung gestellt.
    Es k&ouml;nnen auch eigene Sehensw&uuml;rdigkeiten angelegt werden die vorher gepr&uuml;ft werden und dann als Sehenw&uuml;rdigkeit von jeden abgerufen werden k&ouml;nnen.
    So wie auch die Bewertung der einzelnen Sehensw&uuml;rdigkeiten ob sich dieser Ort/Platz sich lohnt ihn zu besuchen oder nicht.</h3>
    <p><p>
      <h1><b><u>Was passiert, wenn ich mich anmelde</u></b></h1>
    <p>
    <h3> Nachdem der Nutzer sich angemeldet hat, erh&auml;lt er als erstes eine Willkommensmail die auch best&auml;tigt werden muss damit er weitere Informationen erhalten kann.
    Der Teilnehmer hat nun die M&ouml;glichkeit durch direkten Kontakt mit den Entwicklern Einfluss auf die Gestaltung des Programms zu nehmen.
    Anmerkungen, Anregungen oder Probleme k&ouml;nnen sofort besprochen werden. In regelm&auml;&szlig;igen Abst&auml;nden werden Vorabversionen an interessierte Tester versand,
    bis die voerst entg&uuml;ltige Version entsteht. 
    </p>
  </body>
</html>