<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Info", info_path %></li>
      <li><%= link_to "Impressum", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      
    </ul>
  </nav>
</footer>