<header>
    <nav class="round">
    <ul>
      <li><%= link_to "Startseite", root_path %></li>
      <li><%= link_to "unser Blog", "http://touri2.0.wordpress.com" %></li>
    </ul>
  </nav>
</header>